@import "./media-mixin.styl"

+mobile()
  .btn
    width 100%
    margin-bottom 5px

.btn
  display inline-block
  font-weight 400
  line-height 1.25
  text-align center
  white-space nowrap
  vertical-align middle
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  border 1px solid transparent
  padding .5rem 1rem
  font-size 1rem
  border-radius .25rem
  -webkit-transition all .2s ease-in-out
  -o-transition all .2s ease-in-out
  transition all .2s ease-in-out
  cursor pointer

  &.destructive
    color white
    box-shadow 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3)
    background -webkit-linear-gradient(315deg,#cb3733, #e65b57)
    background linear-gradient(135deg,#cb3733, #e65b57)
    letter-spacing 0.5px
    border none

  &.primary
    color white
    box-shadow 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3)
    background -webkit-linear-gradient(315deg,#2c3e50, #56636f)
    background linear-gradient(135deg,#2c3e50, #56636f)
    letter-spacing 0.5px
    border none
