@import "./media-mixin.styl"
@import "./workarounds.styl"

.container
  width 100%
  max-width 800px
  margin 0 auto

.mono-space {
  font-family: "Courier New", Courier, monospace
}

a
  text-decoration none
  color #333
  &:hover
    text-decoration underline

+mobile()
  .stretch
    &.mobile
      width 100%!important

  .hidden
    &.mobile
      display none

.iota-val
  &:before
    content: 'i '
  background #206e8b
  color #fff
  border-radius 2px
  padding-left 5px
  padding-right 5px
  padding-top 1px
  padding-bottom 1px
  font-size 15px

* {
  box-sizing: border-box;
}

.clearfix {
  clear both
}

.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qr img {
  width 100%
}
